# 1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
def divisible(m,n):
    a=[str(i) for i in range(m,n+1) if (i%7==0) & (i%5!=0)]
    return ",".join(a)

In [2]:
answer = divisible(2000,3200)
print(answer)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

# 2. Write a Python Program to accept the user's first name and then getting them printed in the reverse order with a space between the first and last name

In [3]:
# Building up the function
first_name = "Joshua"
last_name = 'Ankomah'

In [4]:
print(first_name+" "+last_name)

Joshua Ankomah

In [5]:
name = first_name + " "+last_name
name

'Joshua Ankomah'

In [6]:
name[::-1]

'hamoknA auhsoJ'

## [Writing the function for the above](#0)

In [7]:
def name_reverse(x):
    return x[::-1]

In [8]:
name = name_reverse(name)
print(name)

hamoknA auhsoJ

# 3. Write a Python Function to find the volume of a sphere with diameter 12 cm . Formula: V=4/3 Ï€ r

In [9]:
import math

def vol_of_sphere(d):
    V = (4/3)*math.pi*(d/2)**3
    return V

In [10]:
answer = vol_of_sphere(12)
print(answer)

904.7786842338603

# 4. Write a program which accepts a sequence of comma-separeated numbers from console and generates a list

In [22]:
def list_gen():
    elements = input('Input comma separated numbers here : 1,2,3,4,5,6')
    list = elements.split(',')
    return list

In [24]:
answer = list_gen()
print(answer)

Input comma separated numbers here : 1,2,3,4,5,6 7,8,9,10,11,12
[' 7', '8', '9', '10', '11', '12']

# 5. Create the below pattern using nested for loop

In [162]:
for i in range(0 , 5):
    for j in range(0 , i+1):
        print('* ' ,end='')
        
    print(" ")

for i in range(rows, 0, -1):
    for i in range(0 , i - 1):
        print("*" , end=" ")
    print("* ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*