# Problem Statement 1:

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Calculate the mean, median, mode and standard deviation for the problem statements 1& 2.

The marks awarded for an assignment set for a Year 8 class of 20 students were as
follows:
6 7 5 7 7 8 7 6 9 7 4 10 6 8 8 9 5 6 4 8

In [3]:
df = pd.DataFrame({'Year8' : [6, 7, 5, 7, 7, 8, 7, 6, 9, 7, 4, 10, 6, 8, 8, 9, 5, 6, 4, 8]})
df.head()

   Year8
0      6
1      7
2      5
3      7
4      7

# Mean

In [4]:
df.mean()

Year8    6.85
dtype: float64

# Median

In [5]:
df.median()

Year8    7.0
dtype: float64

# Mode

In [6]:
df.mode()

   Year8
0      7

# Standard Deviation

In [9]:
df.std().round(2)

Year8    1.63
dtype: float64

# Problem Statement 2

Problem Statement 2:
The number of calls from motorists per day for roadside service was recorded for a
particular month:

28, 122, 217, 130, 120, 86, 80, 90, 140, 120, 70, 40, 145, 113, 90, 68, 174, 194, 170,
100, 75, 104, 97, 75,
123, 100, 75, 104, 97, 75, 123, 100, 89, 120, 109

In [10]:
df2 = pd.DataFrame({'Calls' : [28, 122, 217, 130, 120, 86, 80, 90, 140, 120, 70, 40, 145, 113, 90, 68, 174, 194, 170,
100, 75, 104, 97, 75,
123, 100, 75, 104, 97, 75, 123, 100, 89, 120, 109]})
df2.head()

   Calls
0     28
1    122
2    217
3    130
4    120

# Mean

In [12]:
df2.mean().round(2)

Calls    107.51
dtype: float64

# Mode

In [13]:
df2.mode().round(2)

   Calls
0     75

# Standard Deviation

In [15]:
df2.std().round(2)

Calls    39.34
dtype: float64

# Median

In [21]:
df2['Calls'].median().round(2)

100.0

# Problem Statement 3

 ` The number of times I go to the gym in weekdays, are given below along with its
 associated probability:
 x = 0, 1, 2, 3, 4, 5
 f(x) = 0.09, 0.15, 0.40, 0.25, 0.10, 0.01
 Calculate the mean no. of workouts in a week. Also evaluate the variance involved in it`

In [24]:
df3 = pd.DataFrame({'x': [0,1,2,3,4,5] , 'f(x)':[0.09, 0.15, 0.40, 0.25, 0.10, 0.01]})
df3.head()

   x  f(x)
0  0  0.09
1  1  0.15
2  2  0.40
3  3  0.25
4  4  0.10

# Mean

In [28]:
df3['f(x)'].mean().round(2)

0.17

In [31]:
df3['f(x)'].var().round(3)

0.019

In [ ]:
# Problem Statement 3

In [ ]:
# Problem Statement 3

In [ ]:
# Problem Statement 3

In [ ]:
# Problem Statement 3

In [ ]:
# Problem Statement 3

In [ ]:
# Problem Statement 3