<font color = 'red'>
<h1>Load Libraries<h1>

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split , cross_val_score
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

# <a id='7'>Import data - load data from Statsmodels api<a/>

In [2]:
df = sm.datasets.fair.load_pandas().data
df.head()

,rate_marriage,age,yrs_married,children,religious,educ,occupation,occupation_husb,affairs
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,0.111111
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,3.230769
2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1.400000
3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,0.727273
4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,4.666666

In [4]:
print('Affairs data - rows:' , df.shape[0] ,'columns:' , df.shape[1])

Affairs data - rows: 6366 columns: 9

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6366 entries, 0 to 6365
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rate_marriage    6366 non-null   float64
 1   age              6366 non-null   float64
 2   yrs_married      6366 non-null   float64
 3   children         6366 non-null   float64
 4   religious        6366 non-null   float64
 5   educ             6366 non-null   float64
 6   occupation       6366 non-null   float64
 7   occupation_husb  6366 non-null   float64
 8   affairs          6366 non-null   float64
dtypes: float64(9)
memory usage: 447.7 KB

In [ ]:
# we can see data has no null values but we can still double check

In [7]:
#check for nulls
df.isna().any().any()

False

In [11]:
# Checking for duplicates
df.duplicated().any()

True

In [ ]:
# note: data has duplicate values , thus we need to drop them

In [ ]:
df.drop_duplicates(inplace=True)

In [12]:
# Lets Make columns look a bit more organised
cols = [col.Capitalize() for col in df.columns]
df.columns = cols

AttributeError: 'str' object has no attribute 'Capitalize'

In [ ]:
# <a id='7'><a/>

In [ ]:
# <a id='7'>Import data - load data from Statsmodels api<a/>

In [ ]:
# <a id='7'>Import data - load data from Statsmodels api<a/>

In [ ]:
# <a id='7'>Import data - load data from Statsmodels api<a/>

In [ ]:
# <a id='7'>Import data - load data from Statsmodels api<a/>

In [ ]:
# <a id='7'>Import data - load data from Statsmodels api<a/>

In [ ]:
# <a id='7'>Import data - load data from Statsmodels api<a/>

In [ ]:
# <a id='7'>Import data - load data from Statsmodels api<a/>

In [ ]:
# <a id='7'>Import data - load data from Statsmodels api<a/>

In [ ]:
# <a id='7'>Import data - load data from Statsmodels api<a/>

In [ ]:
# <a id='7'>Import data - load data from Statsmodels api<a/>

In [ ]:
# <a id='7'>Import data - load data from Statsmodels api<a/>

In [ ]:
# <a id='7'>Import data - load data from Statsmodels api<a/>

In [ ]:
# <a id='7'>Import data - load data from Statsmodels api<a/>

In [ ]:
# <a id='7'>Import data - load data from Statsmodels api<a/>

In [ ]:
# <a id='7'>Import data - load data from Statsmodels api<a/>