# <a id='7'>Q1. Write a Python program to get the string from the given string where all the occurrence of its first char has been changed to '$,' except first char itself?<a/> 


Sample String: 'prospect'

Expected Result : 'pros$ect'

In [1]:
def change_character(x):
    for i in range(1,len(x),1):
        if x[i] == x[0]:
            x = x[0:i] + '$' + x[i+1:]
    return x

In [2]:
answer1 = change_character('prospect')
print(answer1)

pros$ect

# <a id='7'>Q2. Write a Python program to get the single string from the two given strings, and separated by the space and swap the first two characters of each string?<a/>

In [ ]:
Sample String : 'abc', 'xyz'
Expected Result: 'xyc abz'

In [3]:
def swapString(a , b):
    return (b[0:2] + a[2:] + " " + a[0:2] + b[2:])

In [4]:
swapString('abc' , 'xyz')

'xyc abz'

# <a id='7'>Q3. Write the Python program to add 'ing' at the end of the given string (length of the string should be at least 3). If given string already ends with 'ing,' then add 'ly' instead. If string length of the given string is less than 3, leave it unchanged?<a/>

In [ ]:
Sample string: ' abc '
Expectedresult: 'abcing'
    
Samplestring: 'string'
Expectedresult: 'stringly'

In [5]:
def add_string(x):
    if len(x) < 2:
        x = x
    else:
        if x[-3:len('string')] == 'ing':
            x = x + 'ly'
        else:
            x = x + 'ing'
    return x

print(add_string('abc'))
print(add_string('string'))

abcing
stringly

# <a id='7'>Q4. Write the Python program to find the first appearance of the substring 'not' and 'poor' from the given string, if 'not' follows the 'poor', replace the whole 'not'...' poor' substring with 'good'.Return the resulting string.'<a/> 

Sample string: 'The lyrics are not that poor!' 
               'The lyrics are poor!' 

Expected Result: 'The lyrics are good!' 
                 'The lyrics are poor!

In [10]:
def not_poor(str1):
    isnot = str1.find('not')
    ispoor = str1.find('poor')
  

    if ispoor > isnot and isnot>0 and ispoor>0:
        str1 = str1.replace(str1[isnot:(ispoor+4)], 'good')
        return str1
    else:
        return str1
print(not_poor('The lyrics is not that poor!'))
print(not_poor('The lyrics is poor!'))

The lyrics is good!
The lyrics is poor!

# <a id='7'> Q5. Write the Python program to remove the characters which have odd index values of a given string.<a/>

In [12]:
def str_Odd(x):
    y = ''
    for i in range(0,len(x),1):
        if i%2 == 0:
            y = y+x[i]
    return y

str_Odd('extravagant')

'etaaat'

# <a id='7'>Q6. Write the Python function to get a string made of 4 copies of the last two characters of the specified string (length must be at least 2).<a/> 
 
Sample function and result :
    
insert-end ('Python') -> abababab
    
insert-end('Exercises') -> jkjkjkjk

In [19]:
def str_copy(str):
    return str[-2:] * 4

str_copy('Python')

'onononon'

In [20]:
str_copy('Exercises')

'eseseses'

# <a id='7'>Q7. Write the python function to get a string made of its first three characters of a specified string. If the length of the string is less than 3 then return the original string.<a/>

In [ ]:
Sample function and result : 
first-three('ipy') -> ipy 
first-three('python') -> pyt

In [2]:
def Cut_str(s):
    if len(s) < 3:
        s = s
    else:
        s = s[:3]
    return s

print(Cut_str('ipy'))
print(Cut_str('python'))

ipy
pyt

# <a id='7'>Q8. Write the python program to print the following floating numbers up to 2 decimal places?<a/>

In [ ]:
23.456789

In [3]:
print('%0.2f'%(23.456789))

23.46

# <a id='7'>Q9. Write the Python program to format a number with a percentage?<a/>

In [4]:
def converter(num):
    print("Converted Number with percentage: "+"{:.2%}".format(num))

In [6]:
converter(0.2345)

Converted Number with percentage: 23.45%

# <a id='7'>Q10. Write the Python program to count occurrences of a substring in a String?<a/>

In [9]:
'stringstr'.count('str')

2

# <a id='7'>Q11. Write the Python program to count repeated characters in a string.<a/>

Sample string: ' thequickbrownjumpsoverthelazydog '

Expected output:

o3 

e3 

u2 

h2

In [12]:
# first i decided to build a function that only returns the count of all letters
from itertools import combinations
import collections

In [22]:
my_list = 'thequickbrownjumpsoverthelazydog'

def Countfreq(my_list):
    return collections.Counter(my_list)

frequency = collections.Counter(my_list)
frequency

Counter({'t': 2,
         'h': 2,
         'e': 3,
         'q': 1,
         'u': 2,
         'i': 1,
         'c': 1,
         'k': 1,
         'b': 1,
         'r': 2,
         'o': 3,
         'w': 1,
         'n': 1,
         'j': 1,
         'm': 1,
         'p': 1,
         's': 1,
         'v': 1,
         'l': 1,
         'a': 1,
         'z': 1,
         'y': 1,
         'd': 1,
         'g': 1})

In [23]:
# building the function to answer the question
def repeat_count(str):
    for i in set(str):
        if str.count(i) > 1:
            print(i,str.count(i))

In [24]:
repeat_count(my_list)

o 3
e 3
u 2
t 2
h 2
r 2

# <a id='7'>Q12. Write the Python program to print the square and cube symbol in the area of a rectangle and volume of a cylinder?<a/>

In [ ]:
Sample output-
The area of the rectangle is 1256.66cm2
The volume of the cylinder is 1254.725cm3

In [27]:
area = 1256.66
volume = 1254.725
print('The Area of rectangle is {} cm\u00b2'.format(area))
print('The Volumne of cylinder is {} cm\u00b3'.format(volume))

The Area of rectangle is 1256.66 cm²
The Volumne of cylinder is 1254.725 cm³

# <a id='7'>Q13. Write the Python program to check if a string contains all letters of the alphabet?<a/>

In [28]:
def alphabet_str(str):
    for i in list(map(chr,range(97,123))):
        if i not in str:
            x = 'All alphabets not present'
            break
        else:
            x = 'All alphabets present'
    return x

In [29]:
alphabet_str('Joshua')

'All alphabets not present'

In [31]:
all_alph = 'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'

In [33]:
alphabet_str(all_alph)

'All alphabets present'

In [ ]:
#OR

In [35]:
alphabet_str(list(map(chr,range(97,123))))

'All alphabets present'

# <a id='7'>Q14. Write the Python program to find the second most repeated word in a given string?<a/>

In [36]:
def sec_most_rep(str):
    str = str.split()
    count = {}
    for i in set(str):
        count[i] = str.count(i)
    print(sorted(count.items(),key= lambda x:(x[1],x[0]))[-2])

In [38]:
sec_most_rep('The big black cat jumped over the lazy dog . The big black dog is really lazy')

('dog', 2)

In [39]:
sec_most_rep('Mary is a good girl . She is going to be great man as he is good')

('good', 2)

# <a id='7'>Q15. Write the Python program to find the minimum window in the given string, which will contains all the characters of another given strings?<a/>

In [ ]:
**Example 1 Input : string1 = " PRWSOERIUSFK " string2 = " OSU " Output: Minimum window is "OERIUS"**

In [40]:
string1 = "PRWSOERIUSFK" 
string2 = "OSU"

In [48]:
# string1 = "PRWSOERIUSFK" 
# string2 = "OSU"

# let's find the index of r and g in String and the 
# stor them in index list (index[])  
index=[] 
for x in range(len(string2)):
    if string2[x] in string1: 
        index.append(string1.index(string2[x])) 
  
"""sorting the r and g index's""" 
index.sort() 
  
# save first index in l 
l = len(index) 
low = int(index[0]) 
  
# save  last index in h 
high = int(index[l-1]) 
h = high +1
for i in range(low,h): 
    print(string1[i],end=" ")

S O E R I U

# A much more robust code

In [52]:
from collections import Counter, defaultdict 
  
def min_window(str, string2): 
      
    rdict, count = defaultdict(list), Counter(string2) 
    rpos, res = [], ""  
      
    # Loop only over c exist in pattern 
    for i, c in filter(lambda x: x[1] in string2, enumerate(str)):  
        if len(rdict) == count:  
  
            # If reached limit, remove 
            rpos.remove(rdict.pop(0)) 
              
        # Add to dict 
        rdict[i].append(i) 
  
        # Add to list 
        rpos.append(i)  
          
        if (len(rpos) == len(string2) and
           (res =="" or rpos[-1]-rpos[0]<len(res))): 
            res = str[rpos[0]:rpos[-1]+1]  
              
    return res

In [53]:
print(min_window(string1, string2))

SOERIU

# <a id='7'>Q16. Write the Python program to find smallest window that contains all characters of the given string?<a/>

In [ ]:
Original Strings: asdaewsqgtwwsa 
Smallest window that contains all characters of the said string: Daewsqgt

In [54]:
def small_window(str):
    return ''.join(set(str)).capitalize()

In [55]:
small_window('asdaewsqgtwwsa')

'Daqtwgse'

# <a id='7'>Q17. Write the Python program to count number of substrings from a given string of lowercase alphabets with exactly k distinct (given) characters? Input a string (lowercase alphabets): wolf Input k: 4 Number of substrings with exactly 4 distinct characters: 1<a/>

In [ ]:
Input a string (lowercase alphabets): wolf 
Input k: 4
Number of substrings with exactly 4 distinct characters: 1

In [56]:
def substring_cal(string,k):
    final_str = ''.join(set(string))
    lis = []
    for i in range(0,len(final_str)):
        if i+k > len(final_str):
            break
        lis.append(final_str[i:i+k])
    return len(lis)

In [57]:
substring_cal('paradise' , 4)

4

In [58]:
substring_cal('wolf' , 4)

1

# <a id='7'>Q18. Write the Python program to count number of non-empty substrings of the given string? Input a string: w3resource Number of substrings: 55<a/>

In [61]:
def non_empty_sub(string):
    lis = [string[i:j] for i in range(0,len(string)) for j in range(i+1,len(string)+1)]
    return len(lis)

In [62]:
non_empty_sub('w3resource')

55

# <a id='7'>Q19. Write the Python program to count number of substrings with same first and last characters of the given string?<a/>

In [ ]:
Input a string: abcd 
output :   4

In [63]:
def count_sub(string):
    first = string[:1]
    last = string[-1]
    result = 0
    lis = []
    for i in range(0,len(string)):
        for j in range(i,len(string)):
            if string[i] == string[j]:
                result += 1
                lis.append([string[i],string[j]])
    print(lis)
    return result

In [66]:
count_sub('abcd')

[['a', 'a'], ['b', 'b'], ['c', 'c'], ['d', 'd']]

4

# <a id='7'>Q20. Write the Python program to count the number of strings where the string length is 2 or more, and first and last character are same from a given list of strings.<a/>

In [ ]:
Sample List : ['abc', 'xyz', 'wxw', '1331'] 
Expected Result: 2

In [67]:
def num_str_cnt(x):
    count = 0
    for string in x:
        if len(string) >=2:
            if string[:1] == string[-1]:
                count += 1
    return count

In [68]:
num_str_cnt(['abc', 'xyz', 'wxw', '1331'])

2

# <a id='7'>Q21. Write the Python program to get a list, sorted in increasing order by the last element in each tuple from the given list of non-empty tuples?<a/>

In [72]:
Sample_List = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)] 
# Expected Result = [ (2, 1), (1, 2), (2, 3), (4, 4), (2, 5) ]

In [73]:
m = Sample_List

In [69]:
def sort_turple(m):
    print(sorted(m, key= lambda x: (x[1],x[0])))

In [74]:
sort_turple(m)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# <a id='7'>Q22. Write the Python program to remove duplicates from a list?<a/>

In [76]:
my_list = ['a','a','a','b','c','d','e','e','f','f','a','c']

In [77]:
def rem_dup(x):
    return list(dict.fromkeys(x))

In [78]:
rem_dup(my_list)

['a', 'b', 'c', 'd', 'e', 'f']

# Or we can write a for loop to remove the duplicates

In [79]:
duplicated = []
for item in my_list:
    if my_list.count(item) > 1:
        if item not in duplicated:
            duplicated.append(item)

In [80]:
print(duplicated)

['a', 'c', 'e', 'f']

# <a id='7'>Q23. Write the Python program to find the list of words that are longer than n from a given list of words?<a/>

In [81]:
new_list = ['basketball' , 'photosynthesis' , 'aeroplane' , 'placebo' , 'gentleman']

In [92]:
def longest_word(seq , n):
    a = []
    for x in seq:
        if len(x) > n:
            a.append(x)
    return a

In [94]:
# note here i am specifying for more than 10
print(longest_word(new_list , 10))

['photosynthesis']

# Or

In [90]:
def longest_w(seq):
    first = seq[0]
    for item in seq[1:]:
        if len(item) > len(first):
            first = item
        return first

In [91]:
longest_w(new_list)

'photosynthesis'

# <a id='7'>Q24. Write the Python program to print a specified list after removing the 0th, 4th, and 5th elements<a/>

In [97]:
Sample_List = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] 

Expected_Output = ['Green', 'White', 'Black']

In [95]:
def remove_list(x):
    remove = []
    for i in [0,4,5]:
        remove.append(x[i])
    for i in remove:
        x.remove(i)
    return x

In [98]:
remove_list(Sample_List)

['Green', 'White', 'Black']

# <a id='7'>Q25. Write the Python program to generate all permutations of a list in Python?<a/>

In [102]:
from itertools import permutations

def perm(l):
    final = []
    for i in range(1,len(l)):
        perm = permutations(l,i)
        for j in perm:
            final.append(j)
    return final

In [103]:
perm([1,2,3,4])

[(1,),
 (2,),
 (3,),
 (4,),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 1),
 (2, 3),
 (2, 4),
 (3, 1),
 (3, 2),
 (3, 4),
 (4, 1),
 (4, 2),
 (4, 3),
 (1, 2, 3),
 (1, 2, 4),
 (1, 3, 2),
 (1, 3, 4),
 (1, 4, 2),
 (1, 4, 3),
 (2, 1, 3),
 (2, 1, 4),
 (2, 3, 1),
 (2, 3, 4),
 (2, 4, 1),
 (2, 4, 3),
 (3, 1, 2),
 (3, 1, 4),
 (3, 2, 1),
 (3, 2, 4),
 (3, 4, 1),
 (3, 4, 2),
 (4, 1, 2),
 (4, 1, 3),
 (4, 2, 1),
 (4, 2, 3),
 (4, 3, 1),
 (4, 3, 2)]

# <a id='7'>Q26. Write the Python program to convert a pair of values into a sorted unique array?<a/>

In [104]:
Original_List = [ (1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10) ] 

Sorted_Unique_Data = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]

In [111]:
from itertools import combinations
import collections

In [115]:
# Now this function shows each separate arrays and also how many times they were counted
def Count_freq(Original_List):
    return collections.Counter(Original_List)

In [116]:
Count_freq(Original_List)

Counter({(1, 2): 3, (3, 4): 3, (5, 6): 1, (7, 8): 2, (9, 10): 1})

# Now Solving the actual question in another way

In [117]:
def sort_array(x):
    output = []
    for item in x:
        for new_item in item:
            output.append(new_item)
    return list(set(output))

In [118]:
sort_array(Original_List)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# <a id='7'>Q27. Write the Python class to convert an integer to a roman numeral?<a/>

In [119]:
def Convert_roman(num):
    norm = [1000,900,500,400,100,90,50,40,10,9,5,4,1]
    rom = ['M','CM','D','CD','C','XC','L','XL','X','IX','V','IV','I']
    rom_num = ''
    i = 0
    while num > 0:
        for j in range(num // norm[i]):
            rom_num += rom[i]
            num = num - norm[i]
        i = i + 1
    return rom_num

In [120]:
Convert_roman(100)

'C'

In [121]:
Convert_roman(10)

'X'

In [122]:
Convert_roman(2020)

'MMXX'

# <a id='7'>Q28 Write the Python class to convert a Roman numeral to an integer?<a/>

In [123]:
def roman_2_int(roman):
    nums = {'M':1000, 'D':500, 'C':100, 'L':50, 'X':10, 'V':5, 'I':1}
    integer = 0
    for i in range(len(roman)):
        value = nums[roman[i]]
        if i+1 < len(roman) and nums[roman[i+1]] > value:
            integer = integer - value
        else:
            integer = integer + value
    return integer

In [126]:
roman_2_int('MMXX')

2020

# <a id='7'>Q29. Write the Python class to find the validity of the string of the parentheses, '(', ')', '{', '}', '[' and '] and the brackets must be closed in the correct order, example - "()" and "()[]{}" are valid but "[)", "({[)]" and "{{{" are invalid.<a/>

In [127]:
class validity:
    def __init__(self , string):
        self.string = string
        
    def check_validity(self):
        val = 'valid'
        for i in range(len(self.string)-1):
            if self.string[i] == '(' and self.string[i+1]!= ')':
                val = 'invalid'
                break
            if self.string[i] == '{' and self.string[i+1]!= '}':
                val = 'invalid'
                break
            if self.string[i] == '[' and self.string[i+1]!= ']':
                val = 'invalid'
                break
        return val

In [128]:
x = validity('(){[}')
print(x.check_validity())

y = validity('(){}')
print(y.check_validity())

invalid
valid

# <a id='7'>Q30. Write the Python class to get all possible unique subsets from a set of distinct integers?<a/>

In [ ]:
Input - [4, 5, 6] 
Output - [[], [6], [5], [5, 6], [4], [4, 6], [4, 5], [4, 5, 6]]

In [143]:
class subset:
    def __init__(self,x = []):
        self.x = x
    def permutation(self):
        x = [self.x[i:j] for i in range(0,len(self.x)) for j in range(i,len(self.x)+1)]     
        return [list(x) for x in set(tuple(x) for x in x)]

In [144]:
result = subset([4,5,6])
result.permutation()

[[4, 5], [5, 6], [4], [5], [], [6], [4, 5, 6]]

# <a id='7'>Q31. Write the Python class to find a pair of elements (indices of the two numbers) from a given array whose sum equals the specific target number?<a/>

In [ ]:
Input: numbers = [10,20,10,40,50,60,70], target=50
Output = 3, 4

In [141]:
class pair:
    def __init__(self,x = []):
        self.x = x
    def subset(self,n):
        return [(i+1,i+2) for i in range(0,len(self.x)-1) if self.x[i] + self.x[i+1] == n]

In [142]:
p = pair([10,20,10,40,50,60,70])
p.subset(50)

[(3, 4)]

# Write a python code to find pairs

In [152]:
lst = [1,5,3,7,9]
k = 12

In [146]:
def find_pair(lst,k):
    return [pair for pair in combinations(lst , 2) if sum (pair) == k ]

In [153]:
find_pair(lst , k)

[(5, 7), (3, 9)]

In [156]:
#Or
find_pair([1,5,3,7,9] , 12)

[(5, 7), (3, 9)]

In [155]:
# here i tested the function with another pair where lst = [2,1,5,7,-1,4] and k = 6
find_pair([2,1,5,7,-1,4] , 6)

[(2, 4), (1, 5), (7, -1)]

# <a id='7'>Q32. Write the Python class to find the three elements that sum to zero from the set of n real numbers?<a/>

In [238]:
Input_array =  [-25, -10, -7, -3, 2, 4, 8, 10] 

Output  = [[-10, 2, 8], [-7, -3, 10]]

In [250]:
class triple:
    def __init__(self, x = []):
        self.x = x
    def sum_zero(self):
        return [[self.x[i],self.x[j],self.x[k]] for i in range(0,len(self.x)) 
                for j in range(i+1,len(self.x)) 
                for k in range(j+1,len(self.x))
                if self.x[i] + self.x[j] + self.x[k] == 0]

In [251]:
result = triple([-25, -10, -7, -3, 2, 4, 8, 10])
result.sum_zero()

[[-10, 2, 8], [-7, -3, 10]]

# Extra Practice Question
# <a id='7'>Q32a. What is the output of the program to generate fibonaci sequence?<a/>

In [233]:
def gen_fib(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b , a+b
        
for x in gen_fib(10):
    print(x)

1
1
2
3
5
8
13
21
34
55

# OR

In [236]:
def fib(n):
    a = 1
    b = 1
    output = []
    for i in range(n):
        output.append(a)
        a,b = b , a+b
    return output

In [237]:
fib(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
# <a id='7'>Q11. What is the output of the program?<a/>

In [ ]:
# <a id='7'>Q11. What is the output of the program?<a/>